body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030303;
    text-align: center;
    color: #fff;
  }
  
  header {
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    text-shadow: 0 0 50px #06f83a, 0 0 10px #03f717;
    border-bottom: solid 8px #18f0fc;
  }
  nav{
    background-color: #020202;
    padding: 1em;
  }
  
  nav a {
    text-decoration: none;
    color: #faf8f8;
    margin: 0 1em;
    text-shadow:  0 0 20px #f105d2, 0 0 10px #e607e6;
    font-size: large;
  }
  
  section {
    padding: 2em;
  }
  
  .project {
    margin-bottom: 2em;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #070707;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    text-shadow: cornflowerblue;
    border-top: solid 8px #18f0fc;
  }
  img{
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    
  }
  img:hover{
   transition: all 2s;
  border-radius: 50%;
  box-shadow:  0 0 20px #07f513, 0 0 10px #06a6f0;
  filter: grayscale(0%);
}
details:hover{
  color: #0d7910;
  transition: all 3s;
}